---
layout: layouts/base.vto
bodyClass: body-videos
title: Welcome
image: https://artact.io/img/artist-activist-3840x1920.png
---

<link rel="stylesheet" href="/lyt/lite-yt-embed.css">

<header class="page-header center">
  <h1 class="page-title visually-hidden">{{ home.welcome }}</h1>
  <figure class="logo wide">
    <img
      src="/img/artist-activist-trans.svg"
      alt="{{ metas.site }}"
      title="{{ metas.site }}"
    />
  </figure>
  <div class="page-subtitle body">{{ home.intro |> md }}</div>
</header>

<main class="{{ it.bodyClass }}">
  <section class="blurb body mbe-m">
    <p>
      Wherever your vision leads, we provide a complete project pipeline
      covering all aspects of production. Our specialists will guide you with
      our decades of combined experience across fine arts, entertainment,
      advertising, technology, civic engagement, and charitable nonprofits.
    </p>
    <p>
      We are multi-lingual and have produced campaigns in Spanish, Mandarin,
      Cantonese, Vietnamese, Tagalog, Korean, Armenian and Arabic, reaching
      elusive, traditionally overlooked audiences. We charge a fraction of what
      any other production company or ad firm would, because we are activists
      who devote our talents to innovative causes willing to tackle complex
      issues with memorable messaging.
    </p>
  </section>
  <section class="media-gallery">
    <header class="videos-header">
      <h2 class="post-title">Featured Videos</h2>
      <p>Visit the <a href="/pages/videos/">Videos</a> page for more.</p>
    </header>
    <ul class="video-list">
      {{
        for video of search.pages("category=video featured=true index!=true", "order=desc")
      }}
        <li>
          <figure class="video">
            <div class="fluid-width-video-wrapper">
              <lite-youtube
                videoid="{{ video.id }}"
                style="background-image: url('https://i.ytimg.com/vi/{{ video.id }}/hqdefault.jpg')"
              >
                <a
                  href="https://youtube.com/watch?v={{ video.id }}"
                  class="lyt-playbtn"
                  title="Play Video"
                >
                  <span class="lyt-visually-hidden">Play Video: {{
                      video.title
                    }}</span>
                </a>
              </lite-youtube>
            </div>
            <figcaption class="video-description">
              <a href="{{ video.url }}" class="video-title">
                <h2 class="display">{{ video.title }}</h2>
              </a>
              {{ video.content |> md }}
            </figcaption>
          </figure>
        </li>
      {{ /for }}
    </ul>
  </section>
  <section class="postList">
    <h2 class="post-title">{{ home.posts_title }}</h2>
    <br>
    {{ for post of search.pages("type=post", "date=desc", 3) }}
      <article class="post">
        <header class="post-header">
          <h2 class="post-title">
            <a
              href="{{ post.url }}"
              {{ if post.url == url }}
                aria-current="page"{{ /if }}
            >
              {{ post.title || post.url }}
            </a>
          </h2>

          {{
            include "templates/post-details.vto" {
              date: post.date,
              tags: post.tags,
              author: post.author,
              readingInfo: post.readingInfo,
            }
          }}
        </header>

        <div class="post-excerpt body">
          {{ post.excerpt |> md }}
        </div>

        <p>
          <a href="{{ post.url }}" class="post-link">
            {{ i18n.nav.continue_reading }}
          </a>
        </p>
      </article>
    {{ /for }}
  </section>

  <section class="searchbar">
    <hr>
    <p>{{ i18n.nav.archive |> md }}</p>
    <div class="search" id="search"></div>
  </section>
</main>

<script defer src="/lyt/lite-yt-embed.js"></script>
