---
layout: layouts/base.vto
bodyClass: body-videos
title: Videos
description: |
  Gallery of videos made by Artist&nbsp;Activist
image: https://artact.io/img/artist-activist-3840x1920.png
index: true
menu:
  visible: true
  order: 0
---

<link rel="stylesheet" href="/lyt/lite-yt-embed.css">

<main class="{{ it.bodyClass }}"">
  <header class="videos-header">
    <h1>{{ title }}</h1>

    <div class="body">{{ description }}</div>
  </header>

  {{ include "templates/video-list.vto" }}
</main>

<script defer src="/lyt/lite-yt-embed.js"></script>
