---
layout: ./base.vto
---

<link rel="stylesheet" href="/lyt/lite-yt-embed.css">

<main class="{{ it.bodyClass }}">
  <article
    class="video"
    data-pagefind-body
    data-title="{{ title }}"
    data-pagefind-index-attrs="data-title"
  >
    <div class="video-info">
      <header class="video-header">
        <nav class="video-back">
          <strong><a href="/videos/">← Back to videos</a></strong>
        </nav>
        <h1 class="video-title">
          {{ title }}
        </h1>
      </header>
    </div>
    <figure>
      <div class="fluid-width-video-wrapper">
        <lite-youtube
          videoid="{{ id }}"
          style="background-image: url('https://i.ytimg.com/vi/{{ id }}/hqdefault.jpg')"
        >
          <a
            href="https://youtube.com/watch?v={{ id }}"
            class="lyt-playbtn"
            title="Play Video"
          >
            <span class="lyt-visually-hidden">Play Video: {{ title }}</span>
          </a>
        </lite-youtube>
      </div>
      <figcaption class="video-description">
        {{ content }}
      </figcaption>
    </figure>
    {{ if tags?.length }}
      <p class="post-tags">
        <span class="html-only">🏷️ </span>{{ for tag of tags }}
          {{ tag }}
          {{ set page = search.pages(`type=tag tag="${tag}"`) }}

          {{ if page }}
            <a
              data-pagefind-filter="filter"
              class="badge"
              href="{{ page.url }}"
            >{{ tag }}</a>
          {{ /if }}
        {{ /for }}
      </p>
    {{ /if }}
  </article>
</main>

<script defer src="/lyt/lite-yt-embed.js"></script>
